.miImg {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgb(218, 58, 10) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

