.validacion{
    color: rgb(255, 115, 0);
}

table tr {
    text-align: center;
}


.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #4e4e4e;
    border-color: #545555;
}

.agendada{
    color: #fff;
}

.aceptada{
    color: #fff;
}

.perdida{
    color: #fff;
}

.desco{
    border-color: red;
    padding: 10px;

}
